@model VidlyApp.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Customers</h2>
@if (@Model.Customers.Count == 0)
{
    <p>no one rented this movie</p>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}


